{% extends 'base.html.twig' %}

{% block title %}Accueill{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    {% if app.user %}
    <h1>Bienvenue {{ app.user.nom }} {{ app.user.prenom }}! ✅</h1>
    {% else %}
    <h1>Bienvenue Visiteur! ✅</h1>
    {% endif %}
    <ul>
        <li>Liste des  <a href="{{ path('formation_index')}}">
            Formations</a></li>
        <li>Calendrier de  <a href="{{  path('session_calendar')}}">Formations</a></li>
    </ul>
</div>
{% endblock %}
