<h1>Activation de votre compte</h1>
<p>Votre employeur vous à créer un compte avec l'email que vous avez fournie, pour activer votre compte et pouvoir modifier votre profile vous devez appuyer sur le lien si dessous. 
    Merci</p>
<p><a href="{{ absolute_url(path('user_activation', {'token' : token})) }}"></a>Activer Votre Compte</p>