{% extends 'base.html.twig' %}

{% block title %}Les Sessions{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMINISTRATEUR') %}
<a href="{{ path('session_index') }}"><button>Liste des Sessions</button></a>
{% endif %}
<div class="card-body text-warning" id="calendar-holder"></div>
{% endblock %}

{% block stylesheets %}
{{ parent('base.html.twig')}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascripts %}
{{ parent('base.html.twig')}}
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        var calendarEl = document.getElementById('calendar-holder');
        //var session= document.querySelector('[data-entry-id]').dataset.entryId

        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap',
            locale: 'fr',
            height: 400,
            contentHeight: 400,
            aspectRatio: 2.5,

            defaultView: 'dayGridMonth',
            editable: true,
            eventSources: [
                {
                    url: "/fc-load-events",
                    method: "POST",
                    extraParams: {
                        filters: JSON.stringify({})
                    },
                    failure: () => {
                        alert("Un probléme est servenu lors du fetching du FullCalendar!");
                    },
                },
            ],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay',
            },
            plugins: ['interaction', 'dayGrid', 'timeGrid'], // https://fullcalendar.io/docs/plugin-index
            timeZone: 'UTC',
        });
        console.log(calendar)
        calendar.render();
    });
</script>
{% endblock %}